* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.app-header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  min-height: 4rem;
  color: white;
  background-color: cornflowerblue;
}
.app-header h1 {
  margin: 0;
  padding: 0.4rem 1rem 0;
}
.app-header .username {
  display: inline-block;
  margin: 0;
  padding: 0 0.4rem;
}
.app-header .sign-in,
.app-header .sign-out {
  display: inline-block;
  padding: 0 0.8rem;
  cursor: pointer;
}

main {
  min-height: 46vh;
  margin-top: 1rem;
  padding: 1rem;
  color: #424242;
}

footer {
  display: grid;
  place-items: center;
  min-height: 4rem;
  margin-top: 8rem;
  background-color: cornflowerblue;
  color: white;
  font-size: 80%;
  text-align: center;
}

button {
  width: fit-content;
  min-width: 4rem;
  margin: 1rem;
  padding: 0.6rem;
  font-size: 120%;
  border: 2px solid #aaa;
  border-radius: 0.6rem;
  cursor: pointer;
}
button:hover,
button:active {
  color: white;
  background-color: #888;
  font-weight: bold;
}
button:disabled {
  color: #aaa;
  background-color: #eee;
  font-weight: normal;
  cursor: default;
}

button.small {
  min-width: 3rem;
  margin: 0.2rem 0.4rem;
  padding: 0.2rem 0;
  font-size: 100%;
  border: 1px solid #aaa;
  border-radius: 0.4rem;
}

.buttons {
  width: 100%;
  padding-top: 1rem;
  text-align: center;
}

.screen {
  width: 100%;
  padding: 0;
  max-width: 900px;
  margin: 0 auto;
}

.screen h1,
.screen h2 {
  margin-top: 0;
}

.input-form {
  display: grid;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  row-gap: 2rem;
}

.input-form .row {
  display: grid;
  width: 100%;
}
.input-form .text-with-button {
  display: grid;
  grid-template-columns: 1fr auto;
}
.input-form .text-with-button button {
  margin: 0;
  margin-left: 0.4rem;
}

.input-form label {
  font-size: 90%;
  color: #888;
}
.input-form input[type='text'] {
  padding: 0 0.4rem;
  font-size: 120%;
  border: none;
  border-bottom: 1px dashed #888;
}

.word-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  column-gap: 0.6rem;
  row-gap: 1rem;
  padding-left: 0;
  list-style: none;
}
.word-list li {
  position: relative;
  display: grid;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.6rem;
  box-shadow: 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.done-check {
  font-size: 200%;
  color: blue;
}

.word-list li .done-check {
  position: absolute;
  top: -0.8rem;
  left: 0.4rem;
}

.word-list .item-buttons {
  position: relative;
  width: fit-content;
  justify-self: end;
}
